:root {
    --letscms-admin-left: #111111;
    --letscms-admin-right: #151515;
    --letscms-text-color: #ffffff;
    --letscms-bg-card-color:#151515;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#admin {
    height: inherit;
}
#wrapper {
    height: inherit;
}
#sidebar-left {
    background: var(--letscms-admin-left);
    color: var(--letscms-text-color);
}

#sidebar-right {
    background: var(--letscms-admin-right);
    color: var(--letscms-text-color);
}

#sidebar-right .card {
    background-color: var(--letscms-bg-card-color);   
}

.nav-link {
    color: var(--letscms-text-color) !important;
}
